from dataclasses import dataclass
from typing import Any


@dataclass(frozen=True, slots=True, kw_only=True)
class Params:
    a: Any
    b: Any


def foo(a: Any, b: Any):
    print(a, b)


foo(a=1, b=2)
